.bar__playerProgress {
  margin-bottom: 1px;
  max-width: 100%;
}

.progress__track {
  position: relative;
  flex: 1;
  height: 5px;
  background: #2e2e2e;
}

.progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #696969;
}

.progress__timeBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 8px;
  padding: 0 8px;
}

.progress__time {
  display: none;
  font-size: 13px;
  color: #696969;
}

.progress__input {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  transform: translateY(-50%);
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.progress__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 5px;
}

.progress__track:hover .progress__bar {
  background: #838383;
}

.progress__track:hover .progress__time {
  display: block;
}