.centerblock__search {
  min-width: 1295px;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

.search__svg {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  stroke: var(--color-text);
  fill: transparent;
}

.search__text {
  -webkit-box-flex: 100;
  -ms-flex-positive: 100;
  flex-grow: 100;
  background-color: transparent;
  border: none;
  padding: 13px 10px 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text);
  outline: none;
}

.search__text::-webkit-input-placeholder {
  background-color: transparent;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search__text:-ms-input-placeholder {
  background-color: transparent;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search__text::-ms-input-placeholder {
  background-color: transparent;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search__text::placeholder {
  background-color: transparent;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


@media (max-width: 1880px) {
  .centerblock__search {
    min-width: 1195px;
  }
}

@media (max-width: 1770px) {
  .centerblock__search {
    min-width: 1095px;
  }
}

@media (max-width: 1670px) {
  .centerblock__search {
    min-width: 995px;
  }
}

@media (max-width: 1570px) {
  .centerblock__search {
    min-width: 850px;
  }
}